
@viewport {
  zoom: 1.0; /* same as initial-scale=1 */
  width: device-width;
}
@-ms-viewport{
  zoom: 1.0; /* same as initial-scale=1 */
  width: device-width;
}
@-webkit-viewport{
  zoom: 1.0; /* same as initial-scale=1 */
  width: device-width;
}
@-moz-viewport{
  zoom: 1.0; /* same as initial-scale=1 */
  width: device-width;
}
@-o-viewport{
  zoom: 1.0; /* same as initial-scale=1 */
  width: device-width;
}

/* Vendor specific prefixes */
/*@-ms-viewport */
/*@-webkit-viewport */
/*@-moz-viewport */
/*@-o-viewport */
body #pesa_widget{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: unset;
}

#pesa_widget code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#pesa_widget .p_container{
  margin: 15px;

}
#pesa_widget .p_labels{
  font-family: Arial;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#pesa_widget .p_value{
  color: #3C70A3;
  font-family: 'Galvji';
  font-size: 33px;
  font-weight: bold;
  
}
#pesa_widget .p_button_active{
  background-color: #3C70A3;
  border: 0;
  width: 200px;
  color: white;
  padding: 20px;
  border-radius: 8px;
  font-family: Arial;
  font-size: bold;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 15px;
  margin-right: 15px;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg id='Component_1_1' data-name='Component 1 – 1' xmlns='http://www.w3.org/2000/svg' width='53' height='53' viewBox='0 0 53 53'%3E%3Cg id='Ellipse_1' data-name='Ellipse 1' fill='none' stroke='%23fff' stroke-width='2'%3E%3Ccircle cx='26.5' cy='26.5' r='26.5' stroke='none'/%3E%3Ccircle cx='26.5' cy='26.5' r='25.5' fill='none'/%3E%3C/g%3E%3Cpath id='Path_1' data-name='Path 1' d='M299.164,320.516l9.633,6.211,12.531-22.484' transform='translate(-230.828 -334.649) rotate(9)' fill='none' stroke='%23fff' stroke-width='3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 41px;
  background-position: 95%;
}
#pesa_widget .p_button_inactive{
  background-color: #3c70a394;
  border: 0;
  width: 200px;
  color: white;
  padding: 20px;
  border-radius: 8px;
  font-family: Arial;
  font-size: bold;
  font-weight: bold;
  height: 15px;
  margin-right: 15px;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg id='Component_1_1' data-name='Component 1 – 1' xmlns='http://www.w3.org/2000/svg' width='53' height='53' viewBox='0 0 53 53'%3E%3Cg id='Ellipse_1' data-name='Ellipse 1' fill='none' stroke='%23fff' stroke-width='2'%3E%3Ccircle cx='26.5' cy='26.5' r='26.5' stroke='none'/%3E%3Ccircle cx='26.5' cy='26.5' r='25.5' fill='none'/%3E%3C/g%3E%3Cpath id='Path_1' data-name='Path 1' d='M299.164,320.516l9.633,6.211,12.531-22.484' transform='translate(-230.828 -334.649) rotate(9)' fill='none' stroke='%23fff' stroke-width='3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 41px;
  background-position: 95%;
  
}
#pesa_widget .picon{
  float: right;
  position: relative;
  top: -8px;
  left: 7px;
  background-image: url("data:image/svg+xml,%3Csvg id='Component_1_1' data-name='Component 1 – 1' xmlns='http://www.w3.org/2000/svg' width='53' height='53' viewBox='0 0 53 53'%3E%3Cg id='Ellipse_1' data-name='Ellipse 1' fill='none' stroke='%23fff' stroke-width='2'%3E%3Ccircle cx='26.5' cy='26.5' r='26.5' stroke='none'/%3E%3Ccircle cx='26.5' cy='26.5' r='25.5' fill='none'/%3E%3C/g%3E%3Cpath id='Path_1' data-name='Path 1' d='M299.164,320.516l9.633,6.211,12.531-22.484' transform='translate(-230.828 -334.649) rotate(9)' fill='none' stroke='%23fff' stroke-width='3'/%3E%3C/svg%3E");
}
#pesa_widget .p_scrollable-buttons{
  display: flex;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 50px;
  scrollbar-width: none; /* Firefox 64 */
  -ms-overflow-style: none; /* Internet Explorer 11 */
}

#pesa_widget .p_scrollable-buttons::-webkit-scrollbar { /** WebKit */
  display: none;
}
#pesa_widget .p_payment_container{
  display: grid;
  grid-template-columns: 40% 60%;
}

#pesa_widget .p_payment_container_mobile{
  display: grid;
  grid-template-columns: 40% 60%;
}
.p_left{
  
}
#pesa_widget .p_right{
  width: 100%;
  position: relative;
  top: -35px;
}
#pesa_widget .rccs__card--front, .rccs__card--back {
  top: -8px;
}
#pesa_widget .rccs__card--front, .rccs__card--back {
  top: -8px;
}

#pesa_widget .p_input{
  background-color: #3c70a394;
  height: 15px;
  color: white;
  padding: 20px;
  border-radius: 8px;
  border: 0;
  margin: 0px;
  width:  -webkit-fill-available;
  font-size: 15px;
  outline: none;
}
#pesa_widget .p_equal_divider{
  display: grid;
  grid-template-columns: 50% 50%;
}
#pesa_widget .left_side{
  margin-right: 25px;
}
#pesa_widget .right_side{
  margin-left: 25px;
}
#pesa_widget .p_submit_button{
  background-color: #3C70A3;
  border: 0;
  width: 100%;
  color: white;
  padding: 20px;
  border-radius: 8px;
  font-family: Arial;
  font-size: bold;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 60px;
  margin: 25px 0px 15px 0px;
  cursor: pointer;
}
#pesa_widget .p_submit_button:disabled{
  background-color: #c8d5e2;
  
  cursor: not-allowed;
}
#pesa_widget .p_credits{
  /*display: flex;*/
  /*justify-content: flex-end;*/
  display: none;
}
#pesa_widget .p_left_content{
  font-family: 'Avenir';
  color: #4883B1;
  font-size: 23px;
  font-style: italic;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
}
#pesa_widget .p_left_content,p{
  justify-content: center;
  position: relative;
  top: 0px;
}
/*.p_input_label{*/
  
/*}*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 768px) {
  #pesa_widget .p_button_active{
    width: 100%;
    margin-right: 10px;
    display: flex;
    padding: 20px 60px 20px 20px;
  }
  #pesa_widget .p_scrollable-buttons {
    margin-bottom: 20px;
  }

  #pesa_widget .rccs__card--front, .rccs__card--back {
    top: 0px;
  }
  #pesa_widget .rccs__card--front, .rccs__card--back {
    top: 0px;
  }
  #pesa_widget .p_button_inactive{
    width: 100%;
    margin-right: 10px;
    display: flex;
    padding: 20px 60px 20px 20px;
  }
  #pesa_widget .p_scrollable-buttons {
    display: flex;
    flex-direction: row;
    overflow: auto;
  }
  #pesa_widget .p_payment_container {
    display: grid;
    grid-template-columns: 100%;
  }
  #pesa_widget .p_payment_container_mobile {
    display: grid;
    grid-template-columns: 100%;
  }
  #pesa_widget .p_left_content {
    font-family: 'Avenir';
    color: #4883B1;
    font-size: 15px;
    font-style: italic;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;
  }
  #pesa_widget .p_right {
    width: 100%;
     position: relative; 
     top: 10px; 
  }
  #pesa_widget .p_left {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  /* #pesa_widget .p_left_content p {
    position: relative;
    left: 0px;
    top: -50px;
    padding: 0px 10px 0px 0px
  } */
    /* Styles */

}
/* landscape i presume */
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) {
  #pesa_widget .p_payment_container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  #pesa_widget .rccs__card--front, .rccs__card--back {
    top: 0px;
  }
  #pesa_widget .rccs__card--front, .rccs__card--back {
    top: 0px;
  }
  #pesa_widget .p_scrollable-buttons {
    margin-bottom: 20px;
  }
  #pesa_widget .p_left {
    position: relative;
    left: -40px;
    /*top: -28px;*/
  }

  #pesa_widget .p_left, p {
    position: relative;
    left: 0px;
    top: -28px;
    padding: 0px 10px 0px 0px
  }
  
  #pesa_widget .p_button_active{
    width: 300px;
  }
  #pesa_widget .p_button_inactive{
    width: 300px;
  }
  #pesa_widget .p_scrollable-buttons {
    display: flex;
    /* overflow: auto; */
    /* white-space: nowrap; */
    margin-bottom: 50px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
         /* Styles */

}
